<ul id="js-drawer" class="c-drawer">
  <li><a href="/">イベント＆ショップニュース</a></li>
  <li><a href="/">フロアガイド</a></li>
  <li><a href="/">ショップ紹介</a></li>
  <li><a href="/">ホテル</a></li>
  <li><a href="/library">図書館</a></li>
  <li><a href="/">オフィス</a></li>
  <li><a href="/">アクセス</a></li>
</ul>