<!-- /.l-main --></main>

<footer class="l-footer">
  <div class="c-container">
    <div class="l-footer__inner">
      <div class="l-footer__inner__item access_wrap">
        <div class="footer_logo"><img src="/img/common/parts/logo_01.png" alt="" srcset="/img/common/parts/logo_01.png 1x, /img/common/parts/logo_01@2x.png 2x"></div>
        <p class="access">〒640-8203 和歌山県和歌山市東蔵前丁３-６</p>
        <p class="privacy_policy"><a href="/" class="js-hover">プライバシーポリシー</a></p>
      </div>
      <div class="l-footer__inner__item navi_wrap">
        <div class="l-footer__inner__navi">
          <ul class="footer_gnavi">
            <li><a href="/" class="js-hover">イベント＆ショップニュース</a></li>
            <li><a href="/" class="js-hover">ショップ紹介</a></li>
            <li><a href="/" class="js-hover">ホテル</a></li>
            <li><a href="/library" class="js-hover">図書館</a></li>
            <li><a href="/" class="js-hover">オフィス</a></li>
            <li><a href="/" class="js-hover">フロアガイド</a></li>
            <li><a href="/" class="js-hover">飲食店営業カレンダー</a></li>
          </ul>
        </div>
        <div class="l-footer__inner__info">
          <div class="footer_info_item">
            <div class="col-left">
              <div class="business_hour">
                <div class="ttl">営業時間</div>
                <ul>
                  <li>にしだ・サービス<span>00:00~00:00</span></li>
                  <li>カフェ・レストラン<span>00:00~00:00</span></li>
                </ul>
              </div>
              <div class="sns_link">
                <div class="sns_item"><a href="/" class="js-hover"><img src="/img/common/parts/facebook_ico.png" alt="" srcset="/img/common/parts/facebook_ico.png 1x, /img/common/parts/facebook_ico@2x.png 2x"></div></a>
                <div class="sns_item"><a href="/" class="js-hover"><img src="/img/common/parts/instagram_ico.png" alt="" srcset="/img/common/parts/instagram_ico.png 1x, /img/common/parts/instagram_ico@2x.png 2x"></div></a>
                <div class="sns_item"><a href="/" class="js-hover"><img src="/img/common/parts/line_ico.png" alt="" srcset="/img/common/parts/line_ico.png 1x, /img/common/parts/line_ico@2x.png 2x"></div></a>
              </div>
            </div>
          </div>
          <div class="footer_info_item">
            <ul class="footer_ico_items">
              <li class="ico_item"><a href="/" class="js-hover"><img src="/img/common/parts/footer_ico01.png" alt="" srcset="/img/common/parts/footer_ico01.png 1x, /img/common/parts/footer_ico01@2x.png 2x"><span>求人情報</span></a></li>
              <li class="ico_item"><a href="/" class="js-hover"><img src="/img/common/parts/footer_ico02.png" alt="" srcset="/img/common/parts/footer_ico02.png 1x, /img/common/parts/footer_ico02@2x.png 2x"><span>アクセス</span></a></li>
              <li class="ico_item"><a href="/" class="js-hover"><img src="/img/common/parts/footer_ico03.png" alt="" srcset="/img/common/parts/footer_ico03.png 1x, /img/common/parts/footer_ico03@2x.png 2x"><span>お問い合わせ</span></a></li>
            </ul>
            <div class="footer_info_banner">
              <div class="banner"><a href="/" class="js-hover"><img src="/img/common/parts/banner01.jpg" alt="" srcset="/img/common/parts/banner01.jpg 1x, /img/common/parts/banner01@2x.jpg 2x"></a></div>
              <div class="banner"><a href="/" class="js-hover"><img src="/img/common/parts/banner02.jpg" alt="" srcset="/img/common/parts/banner02.jpg 1x, /img/common/parts/banner02@2x.jpg 2x"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="l-footer__copyright">&copy; 2019 キーノ和歌山.</p>
<!-- / .l-footer --></footer>
<!-- / #page --></div>

<script src="/dist/js/bundle.js" charset="utf-8"></script>

</body>
</html>