<body>
  <div id="page">
  <%- include(`./_drawer`) -%>
  <!--   ヘッダー   -->
  <header id="js-header" class="l-header">
    <div class=" u-visible_pc">
      <div class="l-header__info">
        <p class="info_ttl">重要なお知らせ</p>
        <p class="info_text"><span>:</span>テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
    </div>
    <div class="l-header__inner c-fluid">
      <h1 class="l-header__inner__logo u-visible_pc"><img src="/img/common/parts/logo_01.png" alt="" srcset="/img/common/parts/logo_01.png 1x, /img/common/parts/logo_01@2x.png 2x"></h1>
      <h1 class="l-header__inner__logo u-visible_sp"><img src="/img/common/parts/logo_sp.png" alt="" srcset="/img/common/parts/logo_sp.png 1x, /img/common/parts/logo_sp@2x.png 2x"></h1>
      <div id="js-drawer" class="l-header__drawer_block">
        <div class="l-header__drawer_block__navi">
          <ul class="header_gnavi">
            <li><a href="/" class="js-hover">イベント＆ショップニュース</a></li>
            <li class="js-mega_trg">
              <a href="/">フロアガイド</a>
              <div class="gnavi__megamenu js-mega_menu u-visible_pc">
                <div class="c-container">
                  <ul class="down_menu_wrap">
                    <li class="down_menu_item">
                      <a href="/" class="js-hover">
                        <div class="img">
                          <img src="/img/common/parts/mega_img01.jpg" alt="" srcset="/img/common/parts/mega_img01.jpg 1x, /img/common/parts/mega_img01@2x.jpg 2x">
                        </div>
                        <div class="text">
                          1F<img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right">
                        </div>
                      </a>
                    </li>
                    <li class="down_menu_item">
                      <a href="/" class="js-hover">
                        <div class="img">
                          <img src="/img/common/parts/mega_img02.jpg" alt="" srcset="/img/common/parts/mega_img02.jpg 1x, /img/common/parts/mega_img02@2x.jpg 2x">
                        </div>
                        <div class="text">
                          2F<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span>
                        </div>
                      </a>
                    </li>
                    <li class="down_menu_item">
                      <a href="/" class="js-hover">
                        <div class="img">
                          <img src="/img/common/parts/mega_img03.jpg" alt="" srcset="/img/common/parts/mega_img03.jpg 1x, /img/common/parts/mega_img03@2x.jpg 2x">
                        </div>
                        <div class="text">
                          3F<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="/" class="js-hover">ショップ紹介</a></li>
            <li><a href="/" class="js-hover">ホテル</a></li>
            <li><a href="/library" class="js-hover">図書館</a></li>
            <li><a href="/" class="js-hover">オフィス</a></li>
            <li><a href="/" class="js-hover">アクセス</a></li>
          </ul>
        </div>
      <!-- /.l-header__drawer_block --></div>
      <div id="js-hamburger" class="c-hamburger u-visible_sp">
        <span></span>
      </div>
    </div>
<!-- / .l-header --></header>
  <main class="l-main">
