<% if (typeof data == 'undefined') {
  const data = { title:'default' , desc:'default' , page:''};
} %>
<%
%>
<meta charset="utf-8">
<title><%= site.title %></title>
<meta name="description" content="<%= site.desc %>">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<% if (site.publish === 'true') {%>
<meta name="robots" content="index,follow">
<% } else if (site.publish === 'false') {%>
<meta name="robots" content="noindex,nofollow">
<% } %>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= site.url %>/img/common/parts/favicon.png">
<link rel="icon" type="image/vnd.microsoft.icon" href="<%= site.url %>/img/common/parts/favicon.png">
<link rel="shortcut icon" type="image/x-icon" href="<%= site.url %>/img/common/parts/favicon.png">
<link rel="apple-touch-icon-precomposed" href="<%= site.url %>dist/img/common/webclip.png">
<link rel="canonical" href="<%= site.url %><%= data.page %>/" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= site.site_title %>" />
<meta property="og:description" content="<%= site.desc %>" />
<meta property="og:url" content="<%= site.url %><%= data.page %>/" />
<meta property="og:site_name" content="<%= site.site_title %>" />
<meta property="og:image" content="<%= site.url %>dist/img/common/ogp.jpg" />
<meta property="og:image:secure_url" content="<%= site.url %>dist/img/common/ogp.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="<%= site.desc %>" />
<meta name="twitter:title" content="<%= site.site_title %>" />
<meta name="twitter:image" content="<%= site.url %>dist/img/common/ogp.jpg" />
<link rel="stylesheet" type="text/css" href="/dist/css/style.css" media="all">