<!DOCTYPE html>
<html lang="ja">
<head>
  <% const myData = {title:'ページ名', desc:'このサイトの説明' , page:'libraly'}; %>
  <%- include('../_templates/_head.ejs',{ data:myData}) -%>
</head>
<%- include(`../_templates/_header`) -%>

<div class="c-section_head">
  <div class="c-container">
    <div class="ttl_block">
      <h2 class="c-ttl"><span class="c-yellow_text">L</span>IBRARY</h2>
      <div class="sub_ttl">和歌山市民図書館</div>
    </div>
    <div class="pagenation">
      <div class="ico_text">HOME<span class="page_place">和歌山私立図書館</span></div>
    </div>
  </div>
</div>

<div class="p-library_topsection">
  <div class="p-library_topsection__img_block">
    <div class="img">
      <img src="/img/common/parts/library_img01.jpg" alt="" srcset="/img/common/parts/library_img01.jpg 1x, /img/common/parts/library_img01@2x.jpg 2x">
    </div>
  </div>
  <div class="c-container">
    <div class="p-library_topsection__inner">
      <div class="text_block">
        <div class="library_logo"><img src="/img/common/parts/library_logo01.png" alt="" srcset="/img/common/parts/library_logo01.png 1x, /img/common/parts/library_logo01@2x.png 2x"></div>
        <p class="ttl">幅広いシーンで<br>本を楽しめる空間</p>
        <p class="text">
          一人でゆったりと寛いで読書にふけるスペース、家族や仲間同士で本を楽しめるスペース、学びの部屋として独立させた学習室、子供や子育て世代の方が気兼ねなく利用できるスペースを設けるなど、多様なニーズに合わせてご利用いただける空間になっています。
          またイベントを通じて様々なイベントやワークショップを開催します。
        </p>
      </div>
    </div>
  </div>
  <div class="p-library_topsection__verticalttl">
    <h2 class="c-ttl vertical"><span class="c-yellow_text">L</span>IBRARY</h2>
  </div>
</div>

<div class="p-library_details">
  <div class="p-library_details__inner">
    <article class="c-library_article u-gray">
      <div class="c-container">
        <div class="article_wrapper js-anim_elm">
          <div class="num_block u-visible_pc">
            <p>1st FLOOR</p> 
          </div>
          <div class="text_block">
            <p class="floor_num">1stFLOOR</p>
            <p class="ttl">コミュニケーション&まちの玄関</p>
            <p class="text">一般図書のエリアに加え、【スターバックス コーヒー】と【蔦屋書店】を併設します。 書店では文具や雑貨、和歌山の選りすぐりの物産を取り扱います。</p>
            <div class="logo"><img src="/img/common/parts/library_logo02.png" alt="" srcset="/img/common/parts/library_logo02.png 1x, /img/common/parts/library_logo02@2x.png 2x"></div>
          </div>
          <div class="img_block">
            <div class="img">
              <img src="/img/common/parts/library_img02.jpg" alt="" srcset="/img/common/parts/library_img02.jpg 1x, /img/common/parts/library_img02@2x.jpg 2x">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="c-library_article u-white">
      <div class="c-container">
        <div class="article_wrapper even js-anim_elm">
          <div class="num_block u-visible_pc">
            <p>2st FLOOR</p> 
          </div>
          <div class="text_block">
            <p class="floor_num">2stFLOOR</p>
            <p class="ttl">日々の生活の充実を育む場</p>
            <p class="text">日常生活に関わりの深い、料理・健康・趣味などの生活に身近な資料と小説を配置します。また、多目的ルームや、郷土作家である有吉佐和子さんの関連資料が閲覧できる有吉佐和子文庫を設けます。</p>
          </div>
          <div class="img_block">
            <div class="img">
              <img src="/img/common/parts/library_img02.jpg" alt="" srcset="/img/common/parts/library_img02.jpg 1x, /img/common/parts/library_img02@2x.jpg 2x">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="c-library_article u-gray">
      <div class="c-container">
        <div class="article_wrapper js-anim_elm">
          <div class="num_block u-visible_pc">
            <p>3st FLOOR</p> 
          </div>
          <div class="text_block">
            <p class="floor_num">3stFLOOR</p>
            <p class="ttl">自分を高める場</p>
            <p class="text">専門的な資料を中心に配置します。利用者が集中して学習や調査・研究ができる静かな学習室、パソコンが利用できるオープン型の学習席をご用意しています。また、市民図書館がこれまで収蔵してきた貴重な「移民に関する資料」を閲覧できる移民資料室を設けます。</p>
          </div>
          <div class="img_block">
            <div class="img">
              <img src="/img/common/parts/library_img03.jpg" alt="" srcset="/img/common/parts/library_img03.jpg 1x, /img/common/parts/library_img03@2x.jpg 2x">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="c-library_article u-white">
      <div class="c-container">
        <div class="article_wrapper even js-anim_elm">
          <div class="num_block u-visible_pc">
            <p>4st FLOOR</p> 
          </div>
          <div class="text_block">
            <p class="floor_num">4stFLOOR</p>
            <p class="ttl">日々の生活の充実を育む場</p>
            <p class="text">日常生活に関わりの深い、料理・健康・趣味などの生活に身近な資料と小説を配置します。また、多目的ルームや、郷土作家である有吉佐和子さんの関連資料が閲覧できる有吉佐和子文庫を設けます。</p>
          </div>
          <div class="img_block">
            <div class="img">
              <img src="/img/common/parts/library_img04.jpg" alt="" srcset="/img/common/parts/library_img04.jpg 1x, /img/common/parts/library_img04@2x.jpg 2x">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="c-library_article u-gray">
      <div class="c-container">
        <div class="article_wrapper js-anim_elm">
          <div class="num_block u-visible_pc">
            <p>ROOFTOP</p> 
          </div>
          <div class="text_block">
            <p class="floor_num">ROOFTOP</p>
            <p class="ttl">市民の憩いの場</p>
            <p class="text">芝生を敷いた「まちなか公園」をイメージし、利用者が飲食できる開放的な環境を創り、読書やコミュニケーションを楽しんでいただけます。</p>
          </div>
          <div class="img_block">
            <div class="img">
              <img src="/img/common/parts/library_img05.jpg" alt="" srcset="/img/common/parts/library_img05.jpg 1x, /img/common/parts/library_img05@2x.jpg 2x">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<%- include(`../_templates/_footer`) -%>