<!DOCTYPE html>
<html lang="ja">
<head>
  <% const myData = {title:'About', desc:'このサイトの説明' , page:'about'}; %>
  <%- include('../_templates/_head',{ data:myData}) -%>
</head>

<%- include(`../_templates/_header`) -%>
<p>Aboutページ</p>
<%- include(`../_templates/_footer`) -%>