@use '../foundation'as f;

// text-align: center
.u-center {
  text-align: center;
}

// img Centering
.u-block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// text-align: right
.u-right {
  text-align: right;
}

.u-none {
  display: none;
}

.u-visible_sp {
  display: none;
}

.u-visible_pc {
  display: block;
}

.u-visible_tab {
  display: none;
}

// 余白調整用のクラス
@for $i from 0 through 20 {
  .u-mt#{$i * 5} {
    margin-top: 5px * $i !important;
  }

  .u-mb#{$i * 5} {
    margin-bottom: 5px * $i !important;
  }

  .u-pt#{$i * 5} {
    padding-top: 5px * $i !important;
  }

  .u-pb#{$i * 5} {
    padding-bottom: 5px * $i !important;
  }
}

// library_color
.u-gray {
  background-color: #f4f7f9;
  .num_block {
    color: #fff;
  }
  .text_block {
    .floor_num {
      &:before {
        border-color: transparent #f4f7f9 transparent transparent;
      }
    }
  }
}

.u-white {
  background-color: #fff;
  .num_block {
    color: #f4f7f9;
  }
  .text_block {
    .floor_num {
      &:before {
        border-color: transparent #fff transparent transparent;
      }
    }
  }
}

/* ダブレット
-------------------------------------------------- */
@include f.mq-tab {
  .u-visible_sp {
    display: none;
  }

  .u-visible_pc {
    display: block;
  }

  .u-visible_tab {
    display: block;
  }
}

/* スマホ
-------------------------------------------------- */
@include f.mq-sp {
  .u-visible_sp {
    display: block;
  }

  .u-visible_pc {
    display: none;
  }

  .u-visible_tab {
    display: none;
  }
}