<!DOCTYPE html>
<html lang="ja">
<head>
  <% const myData = {title:'ページ名', desc:'このサイトの説明' , page:''}; %>
  <%- include('./_templates/_head.ejs',{ data:myData}) -%>
</head>
<%- include(`./_templates/_header`) -%>

<div class="p-index_kv">
  <div class="p-index_kv__inner">

    <div class="swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/">
              <img class="u-visible_pc" src="/img/common/parts/kv_slide02.jpg" alt="" srcset="/img/common/parts/kv_slide02.jpg 1x, /img/common/parts/kv_slide02@2x.jpg 2x">
              <img class="u-visible_sp" src="/img/common/parts/kv_slide02_sp.jpg" alt="" srcset="/img/common/parts/kv_slide02_sp.jpg 1x, /img/common/parts/kv_slide02_sp@2x.jpg 2x">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/">
              <img class="u-visible_pc" src="/img/common/parts/kv_slide03.jpg" alt="" srcset="/img/common/parts/kv_slide03.jpg 1x, /img/common/parts/kv_slide03@2x.jpg 2x">
              <img class="u-visible_sp" src="/img/common/parts/kv_slide03_sp.jpg" alt="" srcset="/img/common/parts/kv_slide03_sp.jpg 1x, /img/common/parts/kv_slide03_sp@2x.jpg 2x">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/">
              <img class="u-visible_pc" src="/img/common/parts/kv_slide01.jpg" alt="" srcset="/img/common/parts/kv_slide01.jpg 1x, /img/common/parts/kv_slide01@2x.jpg 2x">
              <img class="u-visible_sp" src="/img/common/parts/kv_slide01_sp.jpg" alt="" srcset="/img/common/parts/kv_slide01_sp.jpg 1x, /img/common/parts/kv_slide01_sp@2x.jpg 2x">
            </a>
          </div>
        </div>
      </div>
      <div class="pager_wrap">
        <div class="swiper-pagination"></div>
        <div class="wrap">
          <div class="swiper-custom-fraction js-custom-fraction">
            <span class="js-currentNum">1</span>/<span class="js-Maxnum"></span> 
          </div>
        </div>
      </div>
    </div>

    <div class="p-index_kv__inner__information js-anim_elm">
      <div class="information__head">
        <h2 class="c-ttl_sm_en">INFORMATION</h2>
        <div class="c-btn01"><a href="/" class="js-hover">一覧へ<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
      </div>
      <div class="information__body">
        <ul>
          <li>
            <a href="/" class="js-hover">
              <time datetime="2019-8-10">2019-8-10</time>
              <p class="text">お知らせタイトルが入ります。</p>
            </a>
          </li>
        </ul>
      </div>
    <!-- /.p-index_kv__information --></div>
  <!-- /.p-index__inner --></div>
<!-- /.p-index_kv --></div>

<section class="p-index_floor">
  <div class="c-container">
    <div class="p-index_floor__main">
      <div class="p-index_floor__main__body">
        <div class="floor_items">
          <article class="floor_item js-anim_elm">
            <div class="img_block -super"><img src="/img/common/parts/floor_img01.jpg" alt="" srcset="/img/common/parts/floor_img01.jpg 1x, /img/common/parts/floor_img01@2x.jpg 2x"></div>
            <div class="text_block">
              <h3 class="ttl">にしだ様のキャッチ<br class="u-visible_tab">スーパー「にしだ」</h3>
              <p class="text">にしだ様の概要が入ります。にしだ様の概要が入ります。にしだ様の概要が入ります。にしだ様の概要が入ります。</p>
            </div>
            <div class="c-btn02 _black"><a href="/" class="js-hover">詳しく見る<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
          </article>
          <article class="floor_item js-anim_elm">
            <div class="img_block -floor"><img src="/img/common/parts/floor_img01.jpg" alt="" srcset="/img/common/parts/floor_img02.jpg 1x, /img/common/parts/floor_img02@2x.jpg 2x"></div>
            <div class="text_block">
              <h3 class="ttl">和歌山を感じる<br class="u-visible_tab">“食”のフロア</h3>
              <p class="text">2Fは、飲食店のフロアになります。個性豊かな飲食店が集います。</p>
            </div>
            <div class="c-btn02 _black"><a href="/" class="js-hover">詳しく見る<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
          </article>
        </div>
      </div>
      <div class="p-index_floor__main__navi">
        <div class="navi_items js-anim_elm">
          <div class="-red">
            <a href="/" class="c-navi_item navi_color js-hover">
              <div class="subttl">フロア毎に違うコンセプト</div>
              <div class="ico"><img src="/img/common/parts/floor_ico01.png" alt="" srcset="/img/common/parts/floor_ico01.png 1x, /img/common/parts/floor_ico01@2x.png 2x"></div>
              <div class="ttl">フロアガイド<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></div>
            </a>
          </div>
          <div class="-green">
            <a href="/" class="c-navi_item navi_color js-hover">
              <div class="subttl">和歌山ならではのショップ</div>
              <div class="ico"><img src="/img/common/parts/floor_ico02.png" alt="" srcset="/img/common/parts/floor_ico02.png 1x, /img/common/parts/floor_ico02@2x.png 2x"></div>
              <div class="ttl">ショップ紹介<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></div>
            </a>
          </div>
          <div class="-purple">
            <a href="/" class="c-navi_item navi_color js-hover">
              <div class="subttl">ショップの営業時間をチェック</div>
              <div class="ico"><img src="/img/common/parts/floor_ico03.png" alt="" srcset="/img/common/parts/floor_ico03.png 1x, /img/common/parts/floor_ico03@2x.png 2x"></div>
              <div class="ttl">飲食店 営業カレンダー<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.p-index_infomation__body -->
  </div>
<!-- /.p-index_floor --></section>

<section class="p-index_news">
  <div class="c-container">
    <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">E</span>VENT & <span class="c-yellow_text">S</span>HOP NEWS</h2>
    <div class="p-index_news__wrapper">
      <div class="news_items js-anim_elm">
        <article class="c-news_item">
          <a href="/" class="js-hover">
            <div class="img_block">
              <img src="/img/common/parts/news_img01.jpg" alt="" srcset="/img/common/parts/news_img01.jpg 1x, /img/common/parts/news_img01@2x.jpg 2x">
              <p class="tag event">イベント</p>
            </div>
            <div class="text_block">
              <p class="daytime">（更新日）<time datetime="2019-00-00">2019.00.00</time></p>
              <p class="ttl">タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
            </div>
          </a>
        </article>
        <article class="c-news_item">
          <a href="/" class="js-hover">
            <div class="img_block">
              <img src="/img/common/parts/news_img02.jpg" alt="" srcset="/img/common/parts/news_img02.jpg 1x, /img/common/parts/news_img02@2x.jpg 2x">
              <span class="tag news">ニュース</span>
            </div>
            <div class="text_block">
              <p class="daytime">（更新日）<time datetime="2019-00-00">2019.00.00</time></p>
              <p class="ttl">タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
            </div>
          </a>
        </article>
        <article class="c-news_item">
          <a href="/" class="js-hover">
            <div class="img_block">
              <img src="/img/common/parts/news_img03.jpg" alt="" srcset="/img/common/parts/news_img03.jpg 1x, /img/common/parts/news_img03@2x.jpg 2x">
              <span class="tag event">イベント</span>
            </div>
            <div class="text_block">
              <p class="daytime">（更新日）<time datetime="2019-00-00">2019.00.00</time></p>
              <p class="ttl">タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
            </div>
          </a>
        </article>
        <article class="c-news_item">
          <a href="/" class="js-hover">
            <div class="img_block">
              <img src="/img/common/parts/news_img04.jpg" alt="" srcset="/img/common/parts/news_img04.jpg 1x, /img/common/parts/news_img04@2x.jpg 2x">
              <span class="tag news">ニュース</span>
            </div>
            <div class="text_block">
              <p class="daytime">（更新日）<time datetime="2019-00-00">2019.00.00</time></p>
              <p class="ttl">タイトルが入ります。タイトルが入ります。タイトルが入ります。</p>
            </div>
          </a>
        </article>
      </div>
      <div class="c-btn03"><a href="/" class="js-hover">一覧へ<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
    </div>
  </div>
<!-- /.p-index_news --></section>

<div class="p-index_colum">
  <div class="c-container">
    <div class="p-index_colum__body js-anim_elm">
      <div class="img_block"><img src="/img/common/parts/logo_01.png" alt="" srcset="/img/common/parts/logo_01.png 1x, /img/common/parts/logo_01@2x.png 2x"></div>
      <div class="text_block">
        <p class="ttl">キーノ和歌山に込めた思い</p>
        <p class="text">「紀の国」和歌山の玄関口として、地域のシンボル、周辺エリアを明るく照らす活性化の「旗印」となってほしいとの思いを込めて、自然体でそのままの音を活かして命名しました。“キー”には、「新しい扉を開く鍵」、すなわち出会いや始まりのきっかけとなる場所となるような願いも込めています。</p>
      </div>
    </div>
  </div>
<!-- /.p-index_colum --></div>

<section class="p-index_about">
  <div class="c-container">
    <div class="p-index_about__body">
      <article class="c-about_item js-anim_elm">
        <div class="index_hotel">
          <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">H</span>OTEL</h2>
          <div class="about_item_wrap">
            <div class="img_block js-anim_elm"><img src="/img/common/parts/hotel_pic_01_pc.png" alt="" srcset="/img/common/parts/hotel_pic_01_pc.png 1x, /img/common/parts/hotel_pic_01_pc@2x.png 2x"></div>
            <div class="text_block js-anim_elm">
              <p class="subttl">カンデオホテルズ和歌山</p>
              <h3 class="ttl">上質なホテルで<br>日本美を感じる宿泊を。</h3>
              <h3 class="text">リーズナブルでありながらシティホテルなみの機能性とラグジュアリーを凝縮したワンランク上のスタイリッシュホテル。紀の川を展望する露天風呂、快適シモンズベッド、60種のビュッフェ健康朝食でお待ちしております。</h3>
              <div class="c-btn03"><a href="/" class="js-hover">オフィシャルHPへ<span><img src="/img/common/ico/external-link-square-alt-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
            </div>
          </div>
        </div>
      </article>
      <article class="c-about_item js-anim_elm">
        <div class="index_office">
          <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">O</span>FFICE</h2>
          <div class="about_item_wrap even">
            <div class="img_block"><img src="/img/common/parts/office_pic_01_pc.png" alt="" srcset="/img/common/parts/office_pic_01_pc.png 1x, /img/common/parts/office_pic_01_pc@2x.png 2x"></div>
            <div class="text_block">
              <p class="subttl">南海和歌山市駅ビル</p>
              <h3 class="ttl">駅直結で働く暮らし。</h3>
              <h3 class="text">構造面では様々なテナントニーズに応える整型の無柱空間を特徴としており、防災面でも建築基準法で定められた1.25倍（上級グレード）の耐震性を有するなど、高い性能を備えています。駅やバスターミナルはもちろん、駐車場とも2階デッキで直結する利便性の高い立地です。</h3>
              <div class="c-btn03"><a href="/" class="js-hover">詳しく見る<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
            </div>
          </div>
        </div>
      </article>
      <article class="c-about_item js-anim_elm">
        <div class="index_library">
          <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">L</span>IBRARY</h2>
          <div class="about_item_wrap">
            <div class="img_block"><img src="/img/common/parts/library_pic_01_pc.png" alt="" srcset="/img/common/parts/library_pic_01_pc.png 1x, /img/common/parts/library_pic_01_pc@2x.png 2x"></div>
            <div class="text_block">
              <p class="subttl">和歌山市民図書館</p>
              <h3 class="ttl">本と、人と、まちをつなぐ</h3>
              <h3 class="text">知・情報・交流・くつろぎの拠点として、図書館が“本”と“人”と“まち”を繋ぎます。訪れた人のライフスタイルをより豊かにする新たな市民図書館が和歌山市駅前に誕生します。「TSUTAYA」をグループ会社に持つカルチュア・コンビニエンス・クラブ(株)が指定管理者となる関西初の図書館です。</h3>
              <div class="c-btn03"><a href="/" class="js-hover">詳しく見る<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
<!-- /.p-index_about --></section>

<section class="p-index_sns">
  <p class="sns_section_ttl">キーノ和歌山や<br class="u-visible_sp">和歌山市駅周辺の<br class="u-visible_sp">トピックスをお届け</p>
  <div class="p-index_sns__items">
    <div class="c-sns_item facebook">
      <a href="/" class="js-hover">
        <div class="sns_item_head">
          <p class="ttl">FACEBOOK</p>
          <p class="ursername">@wakayamashieki.nankai</p>
        </div>
      </a>
      <div class="sns_item_body js-anim_elm">
        <div class="fb-page" data-href="https://www.facebook.com/wakayamashieki.nankai/" data-tabs="timeline" data-width="600" data-height="540" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/wakayamashieki.nankai/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/wakayamashieki.nankai/">キーノ和歌山（和歌山市駅_再開発計画）</a></blockquote></div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="VQoOm3fA"></script>
      </div>
    </div>
    <div class="c-sns_item instagram">
      <a href="/" class="js-hover">
        <div class="sns_item_head">
          <p class="ttl">INSTAGRAM</p>
          <p class="ursername">@wakayamashieki_nankai</p>
        </div>      
      </a>
      <div class="sns_item_body js-anim_elm">
        <div class="insta_pic_wrap">
          <div class="img"><img src="/img/common/parts/insta_pic_01.jpg" alt="" srcset="/img/common/parts/insta_pic_01.jpg 1x, /img/common/parts/insta_pic_01@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_02.jpg" alt="" srcset="/img/common/parts/insta_pic_02.jpg 1x, /img/common/parts/insta_pic_02@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_03.jpg" alt="" srcset="/img/common/parts/insta_pic_03.jpg 1x, /img/common/parts/insta_pic_03@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_04.jpg" alt="" srcset="/img/common/parts/insta_pic_04.jpg 1x, /img/common/parts/insta_pic_04@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_05.jpg" alt="" srcset="/img/common/parts/insta_pic_05.jpg 1x, /img/common/parts/insta_pic_05@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_06.jpg" alt="" srcset="/img/common/parts/insta_pic_06.jpg 1x, /img/common/parts/insta_pic_06@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_07.jpg" alt="" srcset="/img/common/parts/insta_pic_07.jpg 1x, /img/common/parts/insta_pic_07@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_08.jpg" alt="" srcset="/img/common/parts/insta_pic_08.jpg 1x, /img/common/parts/insta_pic_08@2x.jpg 2x"></div>
          <div class="img"><img src="/img/common/parts/insta_pic_09.jpg" alt="" srcset="/img/common/parts/insta_pic_09.jpg 1x, /img/common/parts/insta_pic_09@2x.jpg 2x"></div>
        </div>
      </div>
    </div>
  </div>
<!-- /.p-index_about --></section>

<section class="p-index_colum p-index_mascot">
  <div class="c-container">
    <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">M</span>ASCOT</h2>
    <div class="p-index_colum__body p-index_mascot__body js-anim_elm">
      <div class="img_block"><img src="/img/common/parts/mascot01.png" alt="" srcset="/img/common/parts/mascot01.png 1x, /img/common/parts/mascot01@2x.png 2x"></div>
      <div class="text_block">
        <p class="ttl">イメージキャラクター<br class="u-visible_sp u-visible_tab">「キノまる」</p>
        <p class="text">
          キーノにいつのまにか住みついていたキノまるです。<br class="u-visible_sp">
          和歌山の「山」を形取っており、親しみを覚えやすい存在です。<br class="u-visible_sp">
          キーノに訪れた人を真似ることが好きで、カートを押して歩いたり、ボールに登って遊んだりする姿をよく見かけます。<br class="u-visible_sp">
          キーノに初めて訪れた人に対し、旗を持ってお出迎えに行く習性があります。最近は絵本を読み聞かせてもらうことがお気に入り。
        </p>
        <p class="producer"><span>キャラクターデザイン</span>伊藤 彩</p>
      </div>
      <div class="btn">
        <div class="c-btn01"><a href="/" class="js-hover">詳しく見る<span><img src="/img/common/ico/arrow-right-regular.svg" alt="" class="js-svg c-arrow_right"></span></a></div>
      </div>
    </div>
  </div>
<!-- /.p-index_colum --></section>

<section class="p-index_access">
  <h2 class="c-ttl js-anim_elm"><span class="c-yellow_text">A</span>CCESS</h2>
  <div class="map_wrap">
    <div class="map js-anim_elm">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3298.4726081087942!2d135.16493211521987!3d34.23648228055621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000b29287a138a9%3A0x6fb50bc88d1d6c70!2z44CSNjQwLTgyMDMg5ZKM5q2M5bGx55yM5ZKM5q2M5bGx5biC5p2x6JS15YmN5LiB77yT4oiS77yW!5e0!3m2!1sja!2sjp!4v1622167372034!5m2!1sja!2sjp" width="1500" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="access_btn js-anim_elm">
      <a href="/" class="circle js-hover">
        <div class="circle_inner">
          <div class="img"><img src="/img/common/parts/access_ico01.png" alt="" srcset="/img/common/parts/access_ico01.png 1x, /img/common/parts/access_ico01@2x.png 2x"></div>
          <p>アクセス</p>
        </div>
      </a>
  </div>
  </div>
<!-- /.p-index_access --></section>

<section class="p-index_recruit">
  <div class="c-container">
    <div class="p-index_recruit__wrap js-anim_elm">
      <a href="/" class="js-hover">
        <div class="img_block">
          <img src="/img/common/parts/recruit_img01.jpg" alt="" srcset="/img/common/parts/recruit_img01.jpg 1x, /img/common/parts/recruit_img01@2x.jpg 2x">
        </div>
        <div class="text_block">
          <div class="text_wrap">
            <p class="ttl">求人情報</p>
            <p class="text">アルバイト・パートスタッフ募集中</p>
          </div>
        </div>
      </a>
    </div>
  </div>
<!-- /.p-index_recuruit --></section>

<%- include(`./_templates/_footer`) -%>