@use '../../foundation'as f;

/* トップページ */
.p-index_kv {
  position: relative;
  @include f.mq-sp {
    margin-top: 140px;
  }
  &:before {
    content: '';
    background-image: url(../../img/common/parts/bg_flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 1310px;
    height: 660px;
    z-index: -999;
    @include f.mq-sp {
      display: none;
    }
  }
  &__inner {
    position: relative;
    .swiper {
      position: relative;
      width: 84%;
      margin-left: auto;
      margin-top: -80px;
      @include f.mq-sp {
        width: 100%;
      }
      .swiper-container {
        position: relative;
        .swiper-wrapper {
          .swiper-slide {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &__information {
      position: relative;
      width: 820px;
      margin-left: auto;
      background-color: #111;
      color: #fff;
      padding: 40px 40px 30px 70px;
      margin-top: -40px;
      z-index: 1;
      transform: translate(80%);
      opacity: 0;
      @include f.mq-tab {
        width: 420px;
        padding: f.smooth_size(20px, 30px);
        margin-top: -20px;
      }
      @include f.mq-sp {
        width: 100%;
        margin: 0;
        padding: f.smooth_size(15px, 20px) f.smooth_size(15px, 25px);
      }
      .information__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
        @include f.mq-tab {
          margin-bottom: 40px;
        }
        @include f.mq-sp {
          margin-bottom: 30px;
        }
        .c-btn01 {
          border: 2px solid #fff;
        }
      }
      .information__body {
        ul {
          li {
            padding-bottom: 10px;
            a {
              transition: all 0.5s;
              time {
                padding-right: 43px;
              }
              p {
                display: inline-block;
                position: relative;
                @include f.mq-sp {
                  display: table;
                }
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: -15px;
                  background-color: #999;
                  background-size: contain;
                  mask-repeat: no-repeat;
                  -webkit-mask-image: url(../../img/common/ico/external-link-square-alt-regular.svg);
                  mask-image: url(../../img/common/ico/external-link-square-alt-regular.svg);
                  -webkit-mask-size: auto 100%;
                  mask-size: auto 100%;
                  width: 12px;
                  height: 12px;
                }
              }
            }
            .is-hover {
              transition: all 0.5s;
              color: f.$main_color;
            }
          }
        }
      }
    }
    .is-act {
      transform: translateX(0);
      transition: all 1000ms 0s ease-out;
      opacity: 1;
    }
  }
  .pager_wrap {
    position: absolute;
    top: 55%;
    left: -3%;
  }
  .swiper-pagination-bullet {
    border-radius: inherit;
    margin: 10px 0 !important;
    width: 8px;
    height: 40px;
    background: #ccc;
    opacity: 1;
    display: block;
    @include f.mq-sp {
      display: none;
    }
  }
  .swiper-pagination-bullet-active {
    background: f.$main_color;
    opacity: 1;
  }
  .wrap {
    position: relative;
    .swiper-custom-fraction {
      position: absolute;
      top: 180px;
      left: -20px;
      font-size: 30px;
      color: f.$font_color;
      display: inline-block;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-family: f.$en_font;
      @include f.mq-sp {
        display: none;
      }
    }
  }
}

/* floor */
.p-index_floor {
  &__main {
    margin-bottom: 100px;
    @include f.mq-tab {
      margin-bottom: 70px;
    }
    &__body {
      margin-top: 70px;
      margin-bottom: 80px;
      @include f.mq-tab {
        margin-bottom: 50px;
      }
      .floor_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include f.mq-tab {
          align-items: flex-start;
        }
        @include f.mq-sp {
          display: block;
        }
        .floor_item {
          width: 48%;
          transform: translateY(20%);
          opacity: 0;
          @include f.mq-sp {
            width: 100%;
            margin-bottom: 60px;
          }
          .-super {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              background-image: url(../../img/common/parts/flooer_logo01.png);
              background-repeat: no-repeat;
              background-size: contain;
              top: -20px;
              left: 0;
              width: 140px;
              height: 100%;
            }
          }
          .-floor {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              background-image: url(../../img/common/parts/flooer_logo02.png);
              background-repeat: no-repeat;
              background-size: contain;
              top: -20px;
              left: 0;
              width: 140px;
              height: 100%;
            }
          }
          .text_block {
            @include f.mq-tab {
              height: 230px;
            }
            @include f.mq-sp {
              height: auto;
            }
            .ttl {
              font-size: 26px;
              font-weight: 700;
              padding: 25px 0;
              @include f.mq-tab {
                padding: 15px 0;
              }
              @include f.mq-sp {
                font-size: 18px;
                padding: 10px 0;
              }
            }
            .text {
              padding-bottom: 28px;
              font-weight: 400;
              @include f.mq-tab {
                padding-bottom: 20px;
              }
              @include f.mq-sp {
                padding-bottom: 16px;
              }
            }
          }
          ._black {
            border: 2px solid f.$font_color;
          }
        }
        .is-act {
          transform: translateY(0);
          opacity: 1;
          transition: all 1000ms 0s ease-out;
        }
      }
    }
    &__navi {
      .navi_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        @include f.mq-tab {
          flex-wrap: wrap;
        }
        @include f.mq-sp {
          display: block;
        }
        .-red {
          display: contents;
          opacity: 0;
          .navi_color {
            border: 2px solid #df5c4f;
            transition: all 0.7s;
            &:before {
              content: '';
              position: absolute;
              background-size: auto auto;
              background-color: rgba(255, 255, 255, 1);
              background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(223, 92, 79, 1) 10px, rgba(223, 92, 79, 1) 20px);
              top: -2px;
              left: -2px;
              width: 110px;
              height: 14px;
            }
            .subttl {
              background-color: #df5c4f;
              &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top: 10px solid #df5c4f;
              }
            }
            .c-arrow_right {
              color: #df5c4f;
            }
          }
          .is-hover {
            transition: all 0.7s;
            background-color: rgb(223, 92, 79, 0.3);
          }
        }
        .-green {
          display: contents;
          opacity: 0;
          .navi_color {
            transition: all 0.7s;
            border: 2px solid #50bfab;
            &:before {
              content: '';
              position: absolute;
              background-size: auto auto;
              background-color: rgba(255, 255, 255, 1);
              background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(80, 191, 171, 1) 10px, rgba(80, 191, 171, 1) 20px);
              top: -2px;
              left: -2px;
              width: 110px;
              height: 14px;
            }
            .subttl {
              background-color: #50bfab;
              &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top: 10px solid #50bfab;
              }
            }
            .c-arrow_right {
              color: #50bfba;
            }
          }
          .is-hover {
            transition: all 0.7s;
            background-color: rgb(80, 191, 171, 0.3);
          }
        }
        .-purple {
          display: contents;
          opacity: 0;
          .navi_color {
            border: 2px solid #af99cb;
            transition: all 0.7s;
            @include f.mq-tab {
              width: 100%;
            }
            &:before {
              content: '';
              position: absolute;
              background-size: auto auto;
              background-color: rgba(255, 255, 255, 1);
              background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(175, 153, 203, 1) 10px, rgba(175, 153, 203, 1) 20px);
              top: -2px;
              left: -2px;
              width: 110px;
              height: 14px;
            }
            .subttl {
              background-color: #af99cb;
              &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top: 10px solid #af99cb;
              }
            }
            .c-arrow_right {
              color: #af99cb;
            }
          }
          .is-hover {
            transition: all 0.7s;
            background-color: rgb(175, 153, 203, 0.3);
          }
        }
      }
      .is-act {
        opacity: 1;
        transition: all 1000ms 0s ease-out;
      }
    }
  }
}

/* news */
.p-index_news {
  position: relative;
  background-color: #f4f7f9;
  padding: 80px 0;
  margin-bottom: 100px;
  @include f.mq-tab {
    margin-bottom: 70px;
    padding: 30px 0;
  }
  @include f.mq-sp {
    padding: f.smooth_size(34px, 40px) 0;
  }
  &:before {
    content: '';
    position: absolute;
    background-size: auto auto;
    background-color: rgba(244, 247, 249, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255, 230, 59, 1) 10px, rgba(255, 230, 59, 1) 20px);
    width: 170px;
    height: 100%;
    top: 0;
    left: 0;
    @include f.mq-tab {
      width: 70px;
    }
    @include f.mq-sp {
      display: none;
    }
  }
  .is-act {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms 0s ease-out;
  }
  &__wrapper {
    .news_items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      transform: translateY(20%);
      opacity: 0;
      @include f.mq-tab {
        flex-wrap: wrap;
      }
    }
    .is-act {
      transform: translateY(0);
      opacity: 1;
      transition: all 1000ms 0s ease-out;
    }
  }
}

/* colum */
.p-index_colum {
  margin-bottom: 100px;
  @include f.mq-tab {
    margin-bottom: 70px;
  }
  &__body {
    position: relative;
    background-color: #f4f7f9;
    border: 2px solid f.$main_color;
    display: flex;
    padding: 60px 90px 40px 170px;
    transform: translateY(30%);
    opacity: 0;
    @include f.mq-tab {
      justify-content: space-between;
      padding: 40px 20px 40px 80px;
    }
    @include f.mq-sp {
      display: block;
      padding: f.smooth_size(16px, 24px);
    }
    &:before {
      content: '';
      position: absolute;
      background-size: auto auto;
      background-color: rgba(244, 247, 249, 1);
      background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255, 230, 59, 1) 10px, rgba(255, 230, 59, 1) 20px);
      width: 50px;
      height: 200px;
      top: 0;
      left: 0;
      @include f.mq-tab {
        width: 40px;
      }
      @include f.mq-sp {
        display: none;
      }
    }
    .img_block {
      width: 20%;
      margin-right: 110px;
      @include f.mq-tab {
        width: 25%;
      }
      @include f.mq-sp {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .text_block {
      width: 70%;
      @include f.mq-sp {
        width: 100%;
      }
      .ttl {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 0.29em;
        @include f.mq-tab {
          font-size: f.smooth_font(20px, 22px);
        }
      }
      .text {
        font-size: 14px;
        line-height: 1.714;
        font-weight: 400;
        @include f.mq-sp {
          font-size: 13px;
        }
      }
    }
  }
  .is-act {
    transform: translateX(0);
    opacity: 1;
    transition: all 1000ms 0s ease-out;
  }
}

/* about */
.p-index_about {
  margin-bottom: 190px;
  @include f.mq-tab {
    margin-bottom: 70px;
  }
  &__body {
    .index_hotel {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: f.$font_color;
        width: 100%;
        height: 60%;
        left: -60%;
        bottom: -10%;
        z-index: -1;
        transform: translateX(-100%);
        opacity: 0;
        @include f.mq-tab {
          left: auto;
          right: -50%;
          top: 25%;
          bottom: 0;
          height: 40%;
        }
        @include f.mq-sp {
          height: 30%;
          top: 20%;
        }
      }
      .about_item_wrap {
        .img_block {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            background-image: url(../../img/common/parts/hotel_text.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 240px;
            height: 100%;
            bottom: -300px;
            left: -40px;
            @include f.mq-tab {
              right: -10px;
              left: auto;
              bottom: -320px;
            }
            @include f.mq-sp {
              width: 160px;
              bottom: -210px;
            }
          }
        }
      }
    }
    .index_office {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: f.$font_color;
        width: 100%;
        height: 60%;
        right: -60%;
        bottom: -10%;
        z-index: -1;
        transform: translateX(100%);
        opacity: 0;
        @include f.mq-tab {
          left: auto;
          right: -50%;
          top: 25%;
          bottom: 0;
          height: 40%;
        }
        @include f.mq-sp {
          height: 30%;
          top: 20%;
        }
      }
      .about_item_wrap {
        .img_block {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            background-image: url(../../img/common/parts/office_text.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 240px;
            height: 100%;
            bottom: -300px;
            right: -40px;
            @include f.mq-tab {
              right: -10px;
              left: auto;
              bottom: -320px;
            }
            @include f.mq-sp {
              width: 160px;
              bottom: -210px;
            }
          }
        }
      }
    }
    .index_library {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: f.$font_color;
        width: 100%;
        height: 60%;
        left: -60%;
        bottom: 0;
        z-index: -1;
        transform: translateX(-100%);
        opacity: 0;
        @include f.mq-tab {
          left: auto;
          right: -50%;
          top: 25%;
          bottom: 0;
          height: 40%;
        }
        @include f.mq-sp {
          height: 30%;
          top: 20%;
        }
      }
      .about_item_wrap {
        .img_block {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            background-image: url(../../img/common/parts/library_text.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 240px;
            height: 100%;
            bottom: -300px;
            left: -40px;
            @include f.mq-tab {
              right: -10px;
              left: auto;
              bottom: -320px;
            }
            @include f.mq-sp {
              width: 160px;
              bottom: -210px;
            }
          }
        }
      }
    }
  }
  .is-act {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms 0s ease-out;
    .index_hotel,
    .index_office,
    .index_library {
      &:before {
        transform: translateX(0);
        transition: all 500ms 0s ease-out;
        opacity: 1;
      }
      .about_item_wrap {
        .img_block,
        .text_block {
          transform: translateY(0);
          opacity: 1;
          transition: all 1000ms 500ms ease-out;
        }
      }
    }
  }
}

/* sns */
.p-index_sns {
  margin-bottom: 90px;
  @include f.mq-tab {
    margin-bottom: 70px;
  }
  .sns_section_ttl {
    letter-spacing: 0.29em;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    @include f.mq-tab {
      font-size: f.smooth_font(20px, 24px);
    }
    @include f.mq-sp {
      font-size: f.smooth_font(16px, 22px);
      margin-bottom: 30px;
    }
    &:before {
      content: '';
      width: 32px;
      height: 22px;
      margin: 0 15px;
      -webkit-transform: skew(45deg);
      transform: skew(45deg);
      display: inline-block;
      border-right: 12px solid #3b5998;
      border-left: 12px solid #ffe63b;
      @include f.mq-sp {
        position: absolute;
        bottom: 10%;
        left: 9%;
      }
    }
    &:after {
      content: '';
      width: 32px;
      height: 22px;
      margin: 0 15px;
      -webkit-transform: skew(-45deg);
      transform: skew(-45deg);
      display: inline-block;
      border-left: 12px solid #3b5998;
      border-right: 12px solid #ffe63b;
      @include f.mq-sp {
        position: absolute;
        bottom: 10%;
        right: 10%;
      }
    }
  }
  &__items {
    display: flex;
    @include f.mq-sp {
      display: block;
    }
    .facebook {
      width: 50%;
      position: relative;
      @include f.mq-sp {
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto auto;
        background-color: rgba(59, 89, 152, 1);
        background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255, 230, 59, 1) 10px, rgba(255, 230, 59, 1) 20px);
        width: 180px;
        height: 20px;
      }
      a {
        transition: all 0.4s;
        .sns_item_head {
          background-color: #3b5998;
          .ttl {
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 45%;
              right: -70px;
              width: 50px;
              height: 1px;
              background-color: #fff;
              @include f.mq-sp {
                top: auto;
                right: auto;
                top: 170%;
                left: 0;
                width: 70px;
              }
            }
            &:after {
              content: 'MORE';
              position: absolute;
              color: #ffe63b;
              font-size: 15px;
              top: 0;
              right: -150px;
              -webkit-text-stroke: 0px;
              @include f.mq-sp {
                right: auto;
                left: 40%;
                top: 130%;
                font-size: 13px;
              }
            }
          }
          .ursername {
            color: #ffe63b;
          }
        }
      }
      .is-hover {
        .sns_item_head {
          .ttl {
            transition: all 0.4s;
            color: #ffe63b;
            -webkit-text-stroke: 2px #ffe63b;
          }
        }
      }
    }
    .instagram {
      width: 50%;
      position: relative;
      @include f.mq-sp {
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto auto;
        background-color: rgba(59, 89, 152, 1);
        background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255, 230, 59, 1) 10px, rgba(255, 230, 59, 1) 20px);
        width: 180px;
        height: 20px;
      }
      a {
        transition: all 0.4s;
        .sns_item_head {
          background-color: #ffe63b;
          .ttl {
            color: transparent;
            -webkit-text-stroke: 2px f.$font_color;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 45%;
              right: -70px;
              width: 50px;
              height: 1px;
              background-color: #222;
              @include f.mq-sp {
                top: auto;
                right: auto;
                top: 170%;
                left: 0;
                width: 70px;
              }
            }
            &:after {
              content: 'MORE';
              position: absolute;
              color: #3b5998;
              font-size: 15px;
              right: -150px;
              -webkit-text-stroke: 0px;
              @include f.mq-sp {
                right: auto;
                left: 40%;
                top: 130%;
                font-size: 13px;
              }
            }
          }
          .ursername {
            color: #3b5998;
          }
        }
      }
      .is-hover {
        .sns_item_head {
          .ttl {
            transition: all 0.4s;
            color: #3b5998;
            -webkit-text-stroke: 2px #3b5998;
          }
        }
      }
    }
    .sns_item_body {
      transform: translateY(40%);
      opacity: 0;
      .insta_pic_wrap {
        display: flex;
        flex-wrap: wrap;
        width: 530px;
        @include f.mq-tab {
          width: 100%;
          text-align: center;
        }
        .img {
          box-sizing: border-box;
          flex: 0 1 calc(100% / 3);
          padding-bottom: 10px;
          @include f.mq-tab {
            margin-bottom: 20px;
          }
          @include f.mq-sp {
            flex: 0 1 calc(100% / 2);
          }
        }
      }
    }
    .is-act {
      transform: translateY(0);
      opacity: 1;
      transition: all 1000ms 0s ease-out;
    }
  }
}

/* mascot */
.p-index_mascot {
  @include f.mq-sp {
    margin-bottom: 100px;
  }
  &__body {
    position: relative;
    padding: 50px 90px 40px 120px;
    transform: translateY(30%);
    opacity: 0;
    @include f.mq-tab {
      padding: 40px 20px 40px 50px;
    }
    @include f.mq-sp {
      padding: 50px 20px 50px;
    }
    .text_block {
      .text {
        margin-bottom: 10px;
      }
      .producer {
        span {
          background-color: f.$main_color;
          padding: 2px 10px;
          font-size: 14px;
          margin-right: 10px;
          @include f.mq-sp {
            font-size: 13px;
          }
        }
      }
    }
    .btn {
      position: absolute;
      bottom: -20px;
      right: -2px;
      background-color: #fff;
      border: 2px solid f.$font_color;
      @include f.mq-sp {
        padding: 10px 20px;
        bottom: -40px;
      }
    }
  }
  .is-act {
    transform: translateX(0);
    opacity: 1;
    transition: all 1000ms 0s ease-out;
  }
}

/* access */
.p-index_access {
  position: relative;
  margin-bottom: 160px;
  &:before {
    content: '';
    background-color: #111;
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: -90px;
    z-index: -1;
    @include f.mq-sp {
      display: none;
    }
  }
  .map_wrap {
    position: relative;
    .map {
      height: 0;
      overflow: hidden;
      padding-bottom: 40%;
      position: relative;
      opacity: 0;
      @include f.mq-sp {
        height: 500px;
      }
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        @include f.mq-sp {
          height: 500px;
        }
      }
    }
    .is-act {
      opacity: 1;
      transition: all 1000ms 0s ease-out;
    }
  }
  .access_btn {
    position: absolute;
    right: 10%;
    bottom: -50px;
    transform: translateY(30%);
    opacity: 0;
    @include f.mq-sp {
      bottom: -100px;
      right: 5%;
    }
    .circle {
      position: relative;
      width: 200px;
      height: 200px;
      background: #fff;
      border-radius: 50%;
      border: 2px solid f.$font_color;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      transition: all 1s;
      @include f.mq-tab {
        width: 160px;
        height: 160px;
      }
      @include f.mq-sp {
        width: 140px;
        height: 140px;
      }
      .circle_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        p {
          margin-top: 10px;
          font-weight: 900;
          position: relative;
          @include f.mq-sp {
            font-size: 13px;
            margin-top: 5px;
          }
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-60%);
            right: -20px;
            background-color: f.$font_color;
            background-size: cover;
            mask-repeat: no-repeat;
            -webkit-mask-image: url(../../img/common/ico/arrow-right-regular.svg);
            mask-image: url(../../img/common/ico/arrow-right-regular.svg);
            -webkit-mask-size: auto 100%;
            mask-size: auto 100%;
            width: 14px;
            height: 14px;
            @include f.mq-sp {
              right: -10px;
            }
          }
        }
      }
    }
    .is-hover {
      transition: all 1s;
      background-color: rgb(255, 230, 59);
    }
  }
  .is-act {
    opacity: 1;
    transform: translateY(0);
    transition: all 1000ms 0s ease-out;
  }
}

/* recruit */
.p-index_recruit {
  margin-bottom: 100px;
  @include f.mq-tab {
    margin-bottom: 70px;
  }
  &__wrap {
    transform: translateY(30%);
    opacity: 0;
    a {
      display: flex;
      background: #3b5998;
      padding: 5px;
      @include f.mq-tab {
        display: block;
      }
      .img_block {
        margin-right: 5px;
        position: relative;
        overflow: hidden;
        @include f.mq-tab {
          margin-right: 0;
          margin-bottom: 10px;
        }
        img {
          display: block;
          transition-duration: 0.3s;
        }
      }
      .text_block {
        width: 435px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 25px;
        box-shadow: 23px 0px 0px -20px #3b5998, 0px 23px 0px -20px #3b5998, 0px -23px 0px -20px #3b5998, -23px 0px 0px -20px #3b5998, 0 0 0 1px #fff;
        position: relative;
        letter-spacing: 0.15em;
        transition: all 0.4s;
        @include f.mq-tab {
          width: 100%;
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 5px;
          background-color: #fff;
          background-size: cover;
          mask-repeat: no-repeat;
          -webkit-mask-image: url(../../img/common/ico/arrow-right-regular.svg);
          mask-image: url(../../img/common/ico/arrow-right-regular.svg);
          -webkit-mask-size: auto 100%;
          mask-size: auto 100%;
          width: 23px;
          height: 23px;
          transition: all 0.4s;
        }
        .text_wrap {
          margin-top: 20px;
          .ttl {
            font-size: 40px;
            font-weight: 900;
            color: #3b5998;
            -webkit-text-stroke: 1px #fff;
            margin-bottom: 20px;
            position: relative;
            transition: all 0.4s;
            @include f.mq-tab {
              font-size: f.smooth_font(32px, 40px);
            }
            &:before {
              content: '';
              position: absolute;
              background-image: url(../../img/common/parts/recurit_text.png);
              background-repeat: no-repeat;
              background-size: contain;
              width: 240px;
              height: 100%;
              top: -90%;
              left: 0;
            }
          }
          .text {
            font-size: 14px;
            color: #fff;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            display: inline-block;
            @include f.mq-tab {
              font-size: f.smooth_font(12px, 14px);
            }
          }
        }
      }
    }
    .is-hover {
      .img_block {
        img {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
      .text_block {
        box-shadow: 23px 0px 0px -20px #3b5998, 0px 23px 0px -20px #3b5998, 0px -23px 0px -20px #3b5998, -23px 0px 0px -20px #3b5998, 0 0 0 3px #fff;
        &:before {
          right: 0;
        }
        .text_wrap {
          .ttl {
            color: #fff;
          }
        }
      }
    }
  }
  .is-act {
    transform: translateX(0);
    opacity: 1;
    transition: all 1000ms 0s ease-out;
  }
}

/* =============================
LIBRARY-page
=============================== */
/* topsection */
.p-library_topsection {
  position: relative;
  padding: 160px 0;
  @include f.mq-md {
    padding: 120px 0;
  }
  @include f.mq-tab {
    padding: 90px 0;
  }
  @include f.mq-sp {
    padding: 50px 0;
  }
  &:before {
    content: '';
    position: absolute;
    background: f.$font_color;
    width: 550px;
    height: 440px;
    left: 0;
    top: 20%;
    z-index: -1;
    @include f.mq-tab {
      width: 400px;
      height: 300px;
      top: 25%;
      bottom: 0;
    }
    @include f.mq-sp {
      width: 300px;
      height: 200px;
      bottom: 0;
      top: 20%;
    }
  }
  &__img_block {
    position: absolute;
    top: 80px;
    left: 100px;
    z-index: -1;
    @include f.mq-sp {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 100px;
      padding: 0 15px;
    }
    .img {
      position: relative;
      width: 95%;
      @include f.mq-tab {
        width: 450px;
      }
      &:before {
        content: '';
        position: absolute;
        background-image: url(../../img/common/parts/library_text.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 270px;
        height: 100%;
        top: 92%;
        left: 15%;
        @include f.mq-tab {
          top: 90%;
          left: 0;
        }
        @include f.mq-sp {
          width: 200px;
          top: 85%;
          left: 0;
        }
      }
    }
  }
  &__inner {
    @include f.mq-sp {
      width: 80%;
    }
    .text_block {
      margin-left: 665px;
      @include f.mq-md {
        margin-left: f.smooth_size(500px, 550px);
      }
      @include f.mq-tab {
        margin-left: f.smooth_size(400px, 480px);
      }
      @include f.mq-sp {
        margin-left: 0;
      }
      .library_logo {
        margin-bottom: 30px;
        @include f.mq-tab {
          margin-bottom: f.smooth_size(15px, 20px);
        }
      }
      .ttl {
        font-weight: 900;
        font-size: 34px;
        line-height: 1.765;
        margin-bottom: 60px;
        @include f.mq-md {
          margin-bottom: 40px;
        }
        @include f.mq-tab {
          font-size: 3.5vw;
          margin-bottom: 30px;
        }
        @include f.mq-sp {
          margin-bottom: 20px;
          font-size: 7vw;
        }
      }
      .text {
        font-size: 16px;
        @include f.mq-tab {
          font-size: f.smooth_font(14px, 16px);
        }
      }
    }
  }
  &__verticalttl {
    .c-ttl {
      opacity: 1;
    }
    .vertical {
      writing-mode: vertical-rl;
      font-size: 100px;
      position: absolute;
      bottom: 75%;
      right: 7%;
      @include f.mq-tab {
        font-size: 8vw;
        right: 50px;
      }
      @include f.mq-sp {
        font-size: 15vw;
        top: 0;
        bottom: 50%;
        right: 25px;
      }
    }
  }
}

/* details */
.p-library_details {
  &__inner {
    position: relative;
    margin-bottom: 100px;
  }
}
