@use '../foundation'as f;

.l-footer {
  width: 100%;
  background: #f4f7f9;
  &__inner {
    padding: 70px 0 30px;
    display: flex;
    @include f.mq-tab {
      padding: 30px 0 20px;
      display: block;
    }
    &__item {
      .footer_logo {
        margin-bottom: 25px;
      }
      .access {
        font-size: 16px;
        margin-bottom: 128px;
        letter-spacing: 0.075em;
        @include f.mq-tab {
          margin-bottom: 20px;
        }
      }
      .privacy_policy {
        font-size: 14px;
        @include f.mq-sp {
          font-size: 13px;
          margin-bottom: 40px;
        }
        a {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 3px;
            background: f.$main_color;
            transform: scale(0, 1);
            transform-origin: left;
            transition: 0.4s;
          }
        }
        .is-hover {
          &:before {
            transform: scale(1);
          }
        }
      }
    }
    .access_wrap {
      width: 30%;
      @include f.mq-tab {
        width: 100%;
        margin-bottom: 40px;
      }
    }
    .navi_wrap {
      width: 70%;
      padding-left: 20px;
      @include f.mq-tab {
        width: 100%;
        padding-left: 0;
      }
    }
    &__navi {
      .footer_gnavi {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @include f.mq-sp {
          display: none;
        }
        li {
          font-weight: 900;
          margin-right: 35px;
          margin-bottom: 17px;
          @include f.mq-tab {
            margin-bottom: 30px;
            margin-right: 40px;
          }
          a {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 100%;
              height: 3px;
              background: f.$main_color;
              transform: scale(0, 1);
              transform-origin: left;
              transition: 0.4s;
            }
          }
          .is-hover {
            &:before {
              transform: scale(1);
            }
          }
        }
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      @include f.mq-sp {
        display: block;
      }
      .footer_info_item {
        width: 350px;
        @include f.mq-tab {
          width: 50%;
        }
        @include f.mq-sp {
          width: 100%;
        }
        .col-left {
          margin-right: 30px;
          @include f.mq-sp {
            margin-right: 0;
          }
          .business_hour {
            margin-bottom: 30px;
            letter-spacing: 0.075em;
            .ttl {
              font-size: 18px;
              font-weight: 900;
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 220px;
                height: 2px;
                background-color: f.$font_color;
                @include f.mq-tab {
                  width: 140px;
                }
                @include f.mq-sp {
                  width: 250px;
                }
              }
            }
            ul {
              padding: 2px 10px 2px 25px;
              border-bottom: 2px solid f.$font-color;
              @include f.mq-sp {
                padding: 5px 0;
                padding-left: 25px;
              }
              li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 16px;
                position: relative;
                @include f.mq-tab {
                  display: block;
                  margin-bottom: 10px;
                }
                &:before {
                  content: '';
                  background-image: url(../../img/common/parts/triangle_yellow.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 15px;
                  height: 15px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-30%);
                  left: -20px;
                }
                span {
                  font-weight: 900;
                  font-family: f.$en_font;
                }
              }
            }
          }
          .sns_link {
            display: flex;
            justify-content: center;
            @include f.mq-sp {
              text-align: center;
              margin-bottom: 40px;
            }
            .sns_item {
              width: 25%;
              @include f.mq-tab {
                width: 100%;
              }
              a {
                transition: all 0.3s;
              }
              .is-hover {
                opacity: .7;
                transition: all 0.3s;
              }
            }
          }
        }
        .footer_ico_items {
          display: flex;
          justify-content: center;
          justify-content: space-between;
          margin-bottom: 20px;
          .ico_item {
            text-align: center;
            @include f.mq-tab {
              width: 30%;
            }
            @include f.mq-sp {
              width: 100%;
            }
            a {
              width: 110px;
              padding: 20px 0;
              display: inline-block;
              background: f.$main-color;
              transition: all 0.3s;
              @include f.mq-tab {
                width: 100px;
              }
              span {
                font-size: 15px;
                font-weight: 900;
                display: block;
              }
            }
            .is-hover {
              background: #fff;
              border: 3px solid f.$main_color;
              transition: all 0.3s;
            }
          }
        }
        .footer_info_banner {
          .banner {
            margin-bottom: 20px;
            @include f.mq-sp {
              text-align: center;
            }
            a {
              transition: all 0.3s;
            }
            .is-hover {
              opacity: .7;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
  &__copyright {
    color: #fff;
    text-align: center;
    background-color: f.$font_color;
    font-size: 14px;
    font-weight: 900;
    padding: 40px 0;
    @include f.mq-sp {
      padding: 20px 0;
      font-size: 12px;
    }
  }
}
