@use '../foundation'as f;

.l-header {
  width: 100%;
  &__info {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 0;
    padding: f.smooth_size(5px, 10px) f.smooth_size(10px, 20px);
    border-radius: 3px;
    background-color: #f5f5f5;
    &:before {
      content: '';
      background-image: url(../../img/common/parts/triangle_red.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .info_ttl {
      font-weight: 900;
      padding-left: 40px;
    }
    .info_text {
      span {
        font-weight: 400;
        margin: 0 15px;
        color: #ccc;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    @include f.mq-tab {
      padding-top: 20px;
    }
    @include f.mq-sp {
      width: 100%;
      position: fixed;
      z-index: 99999;
      top: 0;
      padding-top: 0;
      align-items: center;
      background: #fff;
      transition: all 0.3s ease-out;
      padding: f.smooth_size(10px, 15px) f.smooth_size(10px, 50px);
    }
    &__logo {
      padding: 0 70px;
      @include f.mq-tab {
        padding: 0 10px;
        img {
          width: 90px;
        }
      }
      @include f.mq-sp {
        padding: 0;
        img {
          width: 140px;
        }
      }
    }
  }
  &__drawer_block {
    @include f.mq-sp {
      display: none;
    }
    &__navi {
      .header_gnavi {
        display: flex;
        align-items: center;
        .is-act {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
        li {
          margin-right: f.smooth_size(25px, 50px);
          font-weight: 700;
          @include f.mq-tab {
            margin-right: f.smooth_size(14px, 20px);
          }
          .gnavi__megamenu {
            position: relative;
            z-index: 9999999;
            opacity: 0;
            width: 100vw;
            background: rgb(17, 17, 17, 0.9);
            border-top: 2px solid f.$main_color;
            border-bottom: 2px solid f.$main_color;
            position: absolute;
            top: 150px;
            left: 0;
            width: 100%;
            pointer-events: none;
            transition: all 0.3s ease;
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: -20px;
              left: 6%;
              width: 0px;
              height: 0px;
              margin: auto;
              border-style: solid;
              border-color: f.$main_color transparent transparent transparent;
              border-width: 20px 20px 0 20px;
              transform: rotate(180deg);
            }
            .down_menu_wrap {
              display: flex;
              justify-content: center;
              padding: 40px 0 30px;
              .down_menu_item {
                width: 100%;
                margin: 0;
                padding-right: 30px;
                justify-content: space-between;
                display: inline;
                vertical-align: middle;
                .img {
                  position: relative;
                  overflow: hidden;
                  img {
                    display: block;
                    transition-duration: 0.3s;
                  }
                }
                .text {
                  position: relative;
                  display: inline-block;
                  font-size: 20px;
                  margin-top: 10px;
                  color: f.$main_color;
                  font-weight: 900;
                  svg {
                    position: absolute;
                    top: 55%;
                    right: -30px;
                  }
                }
              }
            }
          }
          a {
            position: relative;
            font-size: 1.6rem;
            @include f.mq-max {
              font-size: f.smooth_font(11px, 16px);
            }
            &:before {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 100%;
              height: 3px;
              background: f.$main_color;
              transform: scale(0, 1);
              transform-origin: left;
              transition: 0.4s;
            }
          }
          .is-hover {
            &:before {
              transform: scale(1);
            }
            img {
              transform: scale(1.1);
              transition-duration: 0.3s;
            }
          }
        }
      }
    }
  }
}
