@use '../../foundation'as f;

.c-crumbs {
  color: f.$font_color;
  margin: 10px 0;
}

.c-pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

.c-hamburger {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;

  span {
    height: 2px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -25%;
    background-color: #333;
    text-indent: -9999px;
    transition: all 0.3s ease;
    &.hidden {
      display: none;
    }
  }

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 80%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    background-color: #333;
    transition: all 0.3s ease;
  }

  &::before {
    top: 25%;
  }

  &::after {
    bottom: 25%;
  }

  &.is-act {
    color: #333;

    &:before {
      transform: rotate(135deg);
      top: 45%;
      background: #333;
    }

    &:after {
      transform: rotate(-135deg);
      top: 45%;
      background: #333;
    }
  }
}

.c-drawer {
  width: 100%;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  font-weight: 900;
  position: fixed;
  top: 64px;
  left: 0;
  transition: all 0.3s ease;
  width: 100%;
  display: none;
  background: f.$main_color;
  z-index: 99999;
  overflow-y: hidden;
  li {
    padding: 0 10px;
    a {
      display: block;
      padding: 20px 0;
      padding-left: 5px;
      border-bottom: 2px solid f.$font_color;
      font-size: f.smooth_font(16px, 26px);
    }
  }
}

.c-ttl_sm_en {
  position: relative;
  font-size: 2.4rem;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-family: f.$en_font;
  &:before {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: f.$main_color;
    position: absolute;
    bottom: -25px;
    left: 0;
    @include f.mq-max {
      bottom: -20px;
    }
    @include f.mq-sp {
      bottom: -15px;
    }
  }
}

.c-btn01 {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 900;
  a {
    padding: 20px 30px;
    width: 200px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background: f.$main_color;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform 0.3s;
    }
  }
  .is-hover {
    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}

.c-btn02 {
  position: relative;
  font-weight: 900;
  text-align: center;
  a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background: f.$main_color;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform 0.3s;
    }
  }
  .is-hover {
    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}

.c-btn03 {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 340px;
  font-weight: 900;
  margin: 0 auto;
  border: 2px solid f.$font_color;
  a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background: f.$main_color;
      color: f.$font_color;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform 0.3s;
    }
  }
  .is-hover {
    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}

.c-arrow_right {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.c-navi_item {
  position: relative;
  font-weight: 900;
  text-align: center;
  background: #fff;
  width: 30%;
  padding: 30px 0 10px;
  @include f.mq-tab {
    width: 48%;
    margin-bottom: 30px;
  }
  @include f.mq-sp {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .subttl {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 0 30px;
    margin-bottom: 20px;
    border-radius: 99999px;
    @include f.mq-sp {
      padding: 0 20px;
      font-size: f.smooth_font(12px, 14px);
    }
  }
  .ttl {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    @include f.mq-sp {
      font-size: f.smooth_font(16px, 18px);
      margin-top: 10px;
    }
    .c-arrow_right {
      right: -20px;
    }
  }
}

.c-ttl {
  font-size: 60px;
  font-weight: 900;
  font-family: f.$en_font;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.15em;
  transform: translateY(100%);
  opacity: 0;
  @include f.mq-tab {
    font-size: f.smooth_font(40px, 48px);
  }
  @include f.mq-sp {
    font-size: f.smooth_font(26px, 30px);
    margin-bottom: 30px;
  }
  .c-yellow_text {
    color: f.$main_color;
  }
}

.c-news_item {
  width: 240px;
  @include f.mq-tab {
    width: 48%;
    margin-bottom: 30px;
  }
  @include f.mq-sp {
    width: 48%;
    margin-bottom: 30px;
  }
  a {
    .img_block {
      position: relative;
      overflow: hidden;
      img {
        display: block;
        transition-duration: 0.3s;
      }
      @include f.mq-tab {
        img {
          width: 100%;
        }
      }
      .tag {
        font-size: 0.8em;
        color: #fff;
        font-weight: 900;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 28px;
        padding-right: 7px;
      }
      .event {
        background-color: #df5c4f;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 7px;
          background-color: #fff;
          background-size: contain;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-image: url(../../img/common/ico/pennant-light.svg);
          mask-image: url(../../img/common/ico/pennant-light.svg);
          -webkit-mask-size: auto 100%;
          mask-size: auto 100%;
          width: 100%;
          height: 13px;
        }
      }
      .news {
        background-color: #3b5998;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 7px;
          background-color: #fff;
          background-size: contain;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-image: url(../../img/common/ico/newspaper-light.svg);
          mask-image: url(../../img/common/ico/newspaper-light.svg);
          -webkit-mask-size: auto 100%;
          mask-size: auto 100%;
          width: 100%;
          height: 13px;
        }
      }
    }
    .text_block {
      .daytime {
        margin-top: f.smooth_size(5px, 10px);
        font-size: 0.867em;
        color: #888;
      }
      .ttl {
        font-size: 16px;
        font-weight: 900;
        @include f.mq-sp {
          font-size: f.smooth_font(14px, 16px);
        }
      }
    }
  }
  .is-hover {
    img {
      transform: scale(1.2);
      transition-duration: 0.3s;
    }
  }
}

.c-about_item {
  margin-bottom: 160px;
  @include f.mq-tab {
    margin-bottom: 80px;
  }
  @include f.mq-sp {
    margin-bottom: 50px;
  }
  .c-ttl {
    margin-bottom: 70px;
    @include f.mq-sp {
      margin-bottom: 25px;
    }
  }
  .about_item_wrap {
    display: flex;
    align-items: flex-start;
    @include f.mq-tab {
      display: block;
    }
    .img_block {
      width: 52%;
      transform: translateY(50%);
      opacity: 0;
      @include f.mq-tab {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .text_block {
      width: 48%;
      padding-left: 50px;
      transform: translateY(50%);
      opacity: 0;
      @include f.mq-tab {
        margin: 30px 0;
        width: 100%;
        padding-left: 0;
      }
      @include f.mq-sp {
        margin-top: 50px;
      }
      .subttl {
        font-weight: 900;
        margin-bottom: 10px;
        letter-spacing: 0.2em;
        @include f.mq-tab {
          margin-bottom: 0;
        }
        @include f.mq-sp {
          font-size: 13px;
        }
      }
      .ttl {
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 26px;
        letter-spacing: 0.29em;
        @include f.mq-tab {
          margin-bottom: 20px;
        }
        @include f.mq-sp {
          font-size: f.smooth_font(22px, 24px);
          margin-bottom: 16px;
        }
      }
      .text {
        font-size: 16px;
        margin-bottom: 30px;
        font-weight: 400;
        @include f.mq-sp {
          font-size: f.smooth_font(14px, 16px);
          margin-bottom: 20px;
        }
      }
      .c-btn03 {
        margin: unset;
        @include f.mq-tab {
          width: 100%;
        }
      }
    }
  }
  .even {
    flex-direction: row-reverse;
    .text_block {
      padding-left: 0;
      padding-right: 50px;
      @include f.mq-tab {
        padding-right: 0;
      }
    }
  }
}

.c-sns_item {
  margin-bottom: 60px;
  a {
    transition: all 0.4s;
    .sns_item_head {
      display: block;
      padding: 120px 0 120px 130px;
      @include f.mq-tab {
        padding: 110px 10px 100px;
      }
      @include f.mq-sp {
        padding: 50px 20px 100px;
      }
      .ttl {
        font-size: 60px;
        font-family: f.$en_font;
        font-weight: 900;
        display: inline-block;
        @include f.mq-tab {
          font-size: f.smooth_font(32px, 36px);
        }
        @include f.mq-sp {
          font-size: 40px;
        }
      }
      .ursername {
        font-size: 15px;
        display: block;
        font-family: f.$en_font;
        margin-top: 30px;
        @include f.mq-sp {
          margin-top: 40px;
          font-size: 14px;
        }
      }
    }
  }
  .sns_item_body {
    padding-left: 130px;
    margin-top: -80px;
    @include f.mq-tab {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include f.mq-sp {
      padding-left: 0;
    }
  }
}

.c-section_head {
  position: relative;
  background-color: #f4f7f9;
  padding: 50px 0 60px;
  margin-left: 250px;
  margin-top: -80px;
  @include f.mq-tab {
    margin-top: -50px;
    margin-left: 200px;
  }
  @include f.mq-sp {
    width: 100%;
    margin: 0;
    margin-top: 65px;
    padding: 30px 0 50px;
  }
  &:before {
    content: '';
    position: absolute;
    background-size: auto auto;
    background-color: rgba(244, 247, 249, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255, 230, 59, 1) 10px, rgba(255, 230, 59, 1) 20px);
    width: 300px;
    height: 40px;
    top: 0;
    left: 0;
    @include f.mq-sp {
      width: 30px;
      height: 100%;
    }
  }
  .ttl_block {
    text-align: center;
    font-weight: 900;
    display: inline-block;
    margin-left: 300px;
    @include f.mq-sp {
      margin: 0 auto;
      display: block;
    }
    .c-ttl {
      opacity: 1;
    }
    .sub_ttl {
      font-size: f.smooth_font(16px, 18px);
    }
  }
  .pagenation {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    display: inline-block;
    padding: 5px 20px 5px 40px;
    @include f.mq-sp {
      font-size: f.smooth_font(12px, 4px);
      padding: f.smooth_size(1px, 5px) 0;
      padding-left: 30px;
      padding-right: 10px;
    }
    .ico_text {
      position: relative;
      &:before {
        content: '';
        background-color: f.$main_color;
        background-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(../../img/common/ico/home-regular.svg);
        mask-image: url(../../img/common/ico/home-regular.svg);
        -webkit-mask-size: auto 100%;
        mask-size: auto 100%;
        width: 100%;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -25px;
      }
      .page_place {
        margin-left: 40px;
        position: relative;
        @include f.mq-sp {
          margin-left: 30px;
        }
        &:before {
          content: '';
          border-bottom: 1px solid #ccc;
          width: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -30px;
          @include f.mq-sp {
            width: 10px;
            left: -20px;
          }
        }
      }
    }
  }
}

.c-library_article {
  padding: 70px 0;
  @include f.mq-sp {
    padding: 40px 0;
  }
  .article_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(20%);
    opacity: 0;
    @include f.mq-sp {
      display: block;
    }
    .num_block {
      writing-mode: vertical-rl;
      font-size: 80px;
      font-family: f.$en_font;
    }
    .text_block {
      width: 40%;
      @include f.mq-sp {
        width: 100%;
      }
      .floor_num {
        display: inline-block;
        position: relative;
        font-size: 20px;
        padding: 0 30px 0 10px;
        background: f.$main_color;
        color: #fff;
        box-sizing: border-box;
        margin-bottom: 30px;
        font-family: f.$en_font;
        @include f.mq-sp {
          font-size: 16px;
          padding-right: 20px;
          margin-bottom: 15px;
        }
        &::before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 15px 18px 0px;
          position: absolute;
          top: 0;
          right: 0;
          @include f.mq-sp {
            border-width: 15px 10px 15px 0px;
          }
        }
      }
      .ttl {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 40px;
        @include f.mq-sp {
          font-size: 6vw;
          margin-bottom: 20px;
        }
      }
      .text {
        font-size: 16px;
        @include f.mq-sp {
          font-size: f.smooth_font(14px, 16px);
        }
      }
      .logo {
        margin-top: 35px;
        @include f.mq-sp {
          margin-top: 30px;
        }
      }
    }
    .img_block {
      width: 48%;
      @include f.mq-sp {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
  .even {
    flex-direction: row-reverse;
  }
  .is-act {
    transform: translateY(0);
    opacity: 1;
    transition: all 1000ms 0s ease-out;
  }
}
